.productsPage {
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.card {
  margin: 10px;
}

@media screen and (max-width: 80vh) {
  .productsPage {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
